#gameboard {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;

    
}

.grid {
    height: 50px;
    width: 50px;
    
    border: 1px solid black;
}

.grid:hover {
    background-color: #f0f0f0;
}